html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  color: #363636;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
  font-size: 14px;
}

@media screen and (min-width: 520px) {
  p {
    font-size: 18px;
  }
}

h1 {
  font-family: 'Libre Baskerville', "Noto Serif JP";
  font-size: 24px;
  color: #585858;
}

@media screen and (min-width: 520px) {
  h1 {
    font-size: 40px;
  }
}

.l-footer {
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
}

@media screen and (min-width: 520px) {
  .l-footer {
    width: calc(100% + 80px);
    left: -40px;
  }
}

@media screen and (min-width: 1025px) {
  .l-footer {
    width: calc(100% + 120px);
    left: -60px;
  }
}

@media screen and (min-width: 1025px) {
  .p-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .p-main__contents {
    width: 70%;
  }
}

.p-main h2, .p-main h3 {
  font-size: 24px;
}

@media screen and (min-width: 520px) {
  .p-main h2, .p-main h3 {
    font-size: 30px;
  }
}

.l-aside {
  background: #363636;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50px;
  left: 100%;
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  padding: 50px 20px;
  z-index: 100;
}

@media screen and (min-width: 520px) {
  .l-aside {
    top: 70px;
  }
}

@media screen and (min-width: 1025px) {
  .l-aside {
    width: 30%;
    background: #ffffff;
    color: #363636;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 0;
  }
}

.l-aside.is-open {
  left: 0;
}

.c-title--top {
  padding: 10px 10px;
}

@media screen and (min-width: 520px) {
  .c-title--top {
    padding: 20px 40px;
  }
}

.c-title--heading {
  font-family: 'Libre Baskerville', "Noto Serif JP";
  font-size: 24px;
  color: #585858;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-left: 2rem;
  text-indent: -2rem;
  line-height: 1.5;
  z-index: 1;
}

@media screen and (min-width: 520px) {
  .c-title--heading {
    font-size: 40px;
    left: 40px;
  }
}

.c-title--heading span {
  font-size: 18px;
}

.c-title--heading--archive {
  color: #ffffff;
}

.c-title--article {
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  border-bottom: solid 2px #707070;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .c-title--article {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.c-title--article span {
  font-size: 16px;
  padding-left: 20px;
}

@media screen and (min-width: 520px) {
  .c-title--article span {
    font-size: 20px;
  }
}

.c-title--footer {
  font-size: 24px;
  font-family: 'Libre Baskerville';
  font-weight: normal;
  padding: 20px;
  position: relative;
}

@media screen and (min-width: 520px) {
  .c-title--footer {
    font-size: 30px;
  }
}

.c-title--footer::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #838383;
  position: absolute;
  left: -5px;
}

.c-hamburger {
  width: 50px;
  height: 50px;
  position: relative;
}

@media screen and (min-width: 520px) {
  .c-hamburger {
    top: 10px;
    right: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger .st1,
.c-hamburger .st2,
.c-hamburger .st3 {
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
}

.c-hamburger.is-open .st2 {
  display: none;
}

.l-container.is-open {
  position: fixed;
}

.c-hamburger span {
  position: absolute;
  bottom: 0;
  left: 8px;
  font-size: 12px;
}

.c-hamburger.is-open span {
  display: none;
}

.c-shadow {
  background-image: url(../img/bg-shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 400px;
  height: 250px;
  bottom: -80px;
  left: -130px;
}

@media screen and (min-width: 520px) {
  .c-shadow {
    width: 600px;
    height: 300px;
    top: 130px;
    left: -120px;
  }
}

@media screen and (min-width: 1025px) {
  .c-shadow {
    top: 250px;
    left: -120px;
  }
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 140px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-card:hover {
  background: #f7f7f7;
}

.c-card img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30%;
  -webkit-box-shadow: 3px 3px 7px 0px #838383;
          box-shadow: 3px 3px 7px 0px #838383;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 520px) {
  .c-card img {
    max-height: 140px;
    width: 35%;
  }
}

.c-card__wrap {
  width: 30%;
  text-align: center;
}

.c-card__wrap img {
  width: 100%;
}

.c-card__content {
  width: 70%;
  margin-left: 16px;
  overflow: hidden;
  margin-bottom: 8px;
  max-height: 120px;
}

@media screen and (min-width: 520px) {
  .c-card__content {
    max-height: 140px;
    width: 65%;
  }
}

.c-card__content__date {
  margin-bottom: 10px;
}

@media screen and (min-width: 520px) {
  .c-card__content__date {
    font-size: 14px;
  }
}

.c-card__content h2, .c-card__content h3, .c-card__content h4 {
  margin-bottom: 10px;
}

@media screen and (min-width: 520px) {
  .c-card__content h2, .c-card__content h3, .c-card__content h4 {
    font-size: 18px;
  }
}

.c-card__content p {
  font-size: 12px;
}

@media screen and (min-width: 520px) {
  .c-card__content p {
    font-size: 14px;
  }
}

.c-card--instructors {
  margin-bottom: 40px;
  max-height: inherit;
}

.c-card--instructors img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  max-height: 300px;
}

.c-card--instructors .c-card__content {
  width: 60%;
  max-height: inherit;
}

.c-card--instructors .c-card__content__title {
  padding: 10px 10px;
}

.c-card--instructors .c-card__content__title {
  padding: 10px 10px;
}

@media screen and (min-width: 520px) {
  .c-card--instructors .c-card__content__title {
    font-size: 24px;
  }
}

.c-card--instructors .c-card__content__text {
  font-size: 12px;
}

@media screen and (min-width: 520px) {
  .c-card--instructors .c-card__content__text {
    font-size: 16px;
  }
}

.p-archive .c-card {
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-archive .c-card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 520px) {
  .p-archive .c-card li {
    max-height: 300px;
  }
}

.c-button {
  margin: 50px 0;
  text-align: center;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .7;
}

.c-button:hover {
  opacity: 1;
}

.c-button a {
  color: #ffffff;
  background: #838383;
  font-weight: bold;
  padding-right: 10px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 10px 50px 10px 20px;
  border-radius: 5px;
}

.c-button--right {
  left: 100%;
  position: relative;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  text-align: end;
}

.c-arrow::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 18px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #A99D4D;
  border-right: 2px solid #A99D4D;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.c-arrow::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 10px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #E2E2E2;
}

.c-icon {
  width: 50px;
}

.c-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 20px;
}

@media screen and (min-width: 520px) {
  .c-logo {
    bottom: -50px;
    right: 20px;
  }
}

.c-date {
  text-align: right;
}

.c-breadcrumb {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.c-breadcrumb > * {
  margin: 0 10px;
}

.c-breadcrumb li:first-child {
  margin-left: 0;
}

.p-single .wp-post-image[src*=".svg"] {
  max-width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto 20px;
}

@media screen and (min-width: 520px) {
  .p-single .wp-post-image[src*=".svg"] {
    max-width: 300px;
    margin: 0 auto 40px;
  }
}

.page_container h2 {
  text-indent: 35px;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  margin: 40px 0 10px;
}

@media screen and (min-width: 520px) {
  .page_container h2 {
    font-size: 20px;
  }
}

.page_container h2:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: black;
}

.page_container h2:after {
  position: absolute;
  content: "";
  top: 50%;
  width: 30px;
  height: 1px;
  background-color: black;
  margin: 0 5px;
}

.page_container ol {
  margin-bottom: 30px;
}

.page_container ol li {
  text-indent: 1rem;
  list-style: inside;
  line-height: 1.5;
}

.wpcf7-form {
  background-color: #F5F5F5;
  padding: 20px;
}

.wpcf7-form p {
  padding-bottom: 30px;
}

.wpcf7-form p label {
  padding-bottom: 10px;
  border-bottom: 1px solid #707070;
}

.wpcf7-form p span {
  display: block;
  margin-top: 20px;
}

.wpcf7-form p span .wpcf7-text {
  width: 100%;
  padding: 10px;
  background: white;
}

.wpcf7-form p span .wpcf7-textarea {
  width: 100%;
  padding: 10px;
  background: white;
}

.wpcf7-form p .wpcf7-submit {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  background: #838383;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .7;
}

.wpcf7-form p .wpcf7-submit:hover {
  opacity: 1;
}

.gallery .gallery-item img {
  border: 3px solid white !important;
}

.p-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 2;
}

@media screen and (min-width: 520px) {
  .p-top {
    height: 70px;
  }
}

.p-hero {
  height: 35vh;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  background-image: url(../img/top-bg.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-hero {
    height: 55vh;
    width: calc(100% + 80px);
    left: -40px;
  }
}

@media screen and (min-width: 1025px) {
  .p-hero {
    height: 500px;
    width: calc(100% + 120px);
    left: -60px;
  }
}

.p-hero--archive {
  background-image: url(../img/top-bar.jpg);
  height: 25vh;
}

@media screen and (min-width: 520px) {
  .p-hero--archive {
    height: 55vh;
  }
}

@media screen and (min-width: 1025px) {
  .p-hero--archive {
    height: 500px;
  }
}

.p-hero--page {
  height: 25vh;
}

@media screen and (min-width: 520px) {
  .p-hero--page {
    height: 55vh;
  }
}

@media screen and (min-width: 1025px) {
  .p-hero--page {
    height: 500px;
  }
}

@media screen and (min-width: 1025px) {
  .p-subnav {
    display: none;
  }
}

.p-subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 520px) {
  .p-subnav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.p-subnav ul li {
  font-size: 14px;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 520px) {
  .p-subnav ul li {
    margin-right: 30px;
    font-size: 18px;
  }
}

.p-subnav ul li:hover {
  color: #A99D4D;
}

.p-subnav ul li::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.p-subnav ul li:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-subnav ul li span {
  font-size: 12px;
}

@media screen and (min-width: 520px) {
  .p-subnav ul li span {
    font-size: 14px;
  }
}

.p-news__list {
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.p-news__list li {
  padding-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-news__list li {
    padding-bottom: 40px;
    width: 48%;
  }
}

.p-article > p {
  margin-bottom: 20px;
}

.p-article__content {
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (min-width: 520px) {
  .p-article__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 300px;
  }
}

.p-article__content img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-article__content img {
    width: 50%;
    height: inherit;
  }
}

@media screen and (min-width: 520px) {
  .p-article__content p {
    width: 50%;
    padding-left: 20px;
    overflow: hidden;
  }
}

.p-article--map .p-article__content {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
}

@media screen and (min-width: 520px) {
  .p-article--map .p-article__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-article--map .p-article__content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-article--map .p-article__content__text {
  margin-top: 50px;
}

.p-article--map .p-article__content__text li {
  line-height: 2;
}

.p-article--map .c-button {
  margin-top: 200px;
}

.p-search {
  line-height: 3;
  margin-bottom: 40px;
  width: 99%;
  border: #ffffff 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 1025px) {
  .p-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    line-height: 1;
    border: #707070 1px solid;
    border-radius: 10px;
  }
}

.p-search__box {
  width: 74%;
  padding-left: 20px;
}

@media screen and (min-width: 1025px) {
  .p-search__box {
    width: auto;
    font-size: 16px;
    padding: 10px;
  }
}

.p-search__button {
  width: 15%;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media screen and (min-width: 1025px) {
  .p-search__button {
    background-image: url(/img/search2.svg);
  }
}

.p-gnav {
  margin: 0 auto;
}

.p-gnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  .p-gnav ul {
    display: block;
  }
}

.p-gnav ul li {
  border: #ffffff 1px solid;
  width: 33%;
  height: 100px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .p-gnav ul li {
    width: 100%;
    text-align: left;
    border-bottom: #b9b9b9 1px solid;
    height: auto;
  }
  .p-gnav ul li:first-child {
    border-top: #b9b9b9 1px solid;
  }
}

.p-gnav ul li a {
  display: block;
  padding-top: 20px;
}

@media screen and (min-width: 1025px) {
  .p-gnav ul li a {
    padding: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .p-gnav ul li a strong {
    display: none;
  }
}

.p-gnav ul li a span {
  display: none;
}

@media screen and (min-width: 1025px) {
  .p-gnav ul li a span {
    display: inline;
    line-height: 1.5;
  }
}

.p-gnav ul li a .menu-item-description {
  font-size: 20px;
}

.p-gnav__pc {
  display: none;
}

@media screen and (min-width: 1025px) {
  .p-gnav__pc {
    display: block;
  }
  .p-gnav__pc span {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  .p-gnav__sp,
  .c-icon {
    display: none;
  }
}

.p-footer {
  background: #707070;
  color: #b9b9b9;
  text-align: center;
  padding-bottom: 40px;
}

.p-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
}

.p-footer__content p {
  font-size: 10px;
}

@media screen and (min-width: 520px) {
  .p-footer__content p {
    font-size: 12px;
  }
}

.p-page-description__title {
  margin-bottom: 20px;
  font-size: 20px;
}

@media screen and (min-width: 520px) {
  .p-page-description__title {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

@media screen and (min-width: 520px) {
  .p-page-description__title__text {
    font-size: 16px;
  }
}

.p-archive__list {
  margin-bottom: 50px;
  width: 100%;
}

.p-archive__list li {
  padding-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-archive__list li {
    padding-bottom: 40px;
    width: 100%;
  }
}

.p-archive__list article {
  max-height: 200px;
  margin-bottom: 40px;
}

.p-pagination .wp-pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-pagination .wp-pagenavi a,
.p-pagination .wp-pagenavi span {
  padding: 10px;
  border: none;
}

.p-pagination .wp-pagenavi .current {
  background-color: #838383;
  color: #ffffff;
  border-radius: 2px;
}

.p-pagination--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-single > * {
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-single > * {
    margin-bottom: 40px;
  }
}

.p-table--schedule {
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 520px) {
  .p-table--schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-table--schedule__time {
  background-color: #F5F5F5;
  display: none;
}

@media screen and (min-width: 520px) {
  .p-table--schedule__time {
    display: block;
    text-align: center;
    vertical-align: middle;
  }
}

.p-table--schedule__time .time {
  padding: 30px 0;
}

.p-table--schedule__time .time:nth-child(4), .p-table--schedule__time .time:nth-child(5) {
  border-top: none;
}

.p-table--schedule ul {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
}

.p-table--schedule ul:first-child {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.p-table--schedule ul .top-line {
  color: #A99D4D;
  background-color: #F5F5F5;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

@media screen and (min-width: 520px) {
  .p-table--schedule ul:last-child {
    border-right: 1px solid #b9b9b9;
  }
}

.p-table--schedule ul li {
  border: 1px solid #b9b9b9;
  border-bottom: none;
}

@media screen and (min-width: 520px) {
  .p-table--schedule ul li {
    font-size: 14px;
    border-right: none;
    min-height: 130px;
    padding: 0 5px;
  }
}

.p-table--schedule ul li div {
  line-height: 1.5;
  padding: 0 40px;
  margin: -1px 0;
}

@media screen and (min-width: 520px) {
  .p-table--schedule ul li div {
    padding: 0;
  }
}

.p-table--schedule ul li:last-child {
  border-bottom: 1px solid #b9b9b9;
}

.p-table--fee {
  margin-bottom: 40px;
  width: 100%;
  border: 1px solid #b9b9b9;
}

.p-table--fee tr {
  width: 100%;
  text-align: center;
  border: 1px solid #b9b9b9;
}

.p-table--fee tr th {
  color: #A99D4D;
  background-color: #F5F5F5;
  padding: 20px;
}

.p-table--fee tr td {
  vertical-align: middle;
  padding: 20px 5px;
  font-size: 14px;
  min-height: 120px;
}

@media screen and (min-width: 520px) {
  .p-table--fee tr td {
    padding: 20px;
  }
}

.p-table--fee tr td:first-child {
  border-right: 1px solid #b9b9b9;
  width: 40%;
}

.p-table--fee__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 520px) {
  .p-table--fee__desc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 520px) {
  .p-table--fee__desc p {
    font-size: 14px;
    width: 50%;
  }
}

.u-m-base {
  margin: 40px 20px;
}

@media screen and (min-width: 520px) {
  .u-m-base {
    margin: 20px 40px 0;
  }
}

@media screen and (min-width: 1025px) {
  .u-m-base {
    margin: 20px 60px 0;
  }
}

.u-mb-m > * {
  margin-bottom: 40px;
}

.u-mb-s > * {
  margin-bottom: 60px;
}

@media screen and (min-width: 520px) {
  .u-mb-s > * {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1025px) {
  .u-mb-s:last-of-type {
    margin-bottom: 0;
  }
}

.u-m0 {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */