.c-card {
    display: flex;
    max-height: 140px;
    transition: .5s;
    align-items: center;
    @include responsive(tab) {
    }
    &:hover {
        background: #f7f7f7;
    }
    img {
        height: fit-content;
        width: 30%;
        box-shadow: 3px 3px 7px 0px $color-gray--border;
        object-fit: contain;
        @include responsive(tab) {
            max-height: 140px;
            width: 35%;
        }
    }
    &__wrap {
        width: 30%;
        text-align: center;
        img {
            width: 100%;
        }
        
    }

    &__content {
        width: 70%;
        margin-left: 16px;
        overflow: hidden;
        margin-bottom: 8px;
        max-height: 120px;
        @include responsive(tab) {
            max-height: 140px;
            width: 65%;
        }
        
        &__date {
            margin-bottom: 10px;
            @include responsive(tab) {
                font-size: 14px;
            }
        }
        h2, h3, h4 {
            margin-bottom: 10px;
            @include responsive(tab) {
                font-size: 18px;
            }
        }
        p {
            font-size: 12px;
            @include responsive(tab) {
                font-size: 14px;
            }
        }
    }
}

.c-card--instructors {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    max-height: inherit;
    @include responsive(tab){
        flex-direction: row;
    }
    img {
        object-fit: cover;
        width: 90%;
        max-height: 300px;
        @include responsive(tab) {
            max-height: 500px;
            width: 40%;
        }
    }
    .c-card__content {
        width: 90%;
        max-height: inherit;
        margin: 0;
        @include responsive(tab) {
            margin-left: 16px;
            width: 60%;
        }

        &__title {
            font-size: 24px;
            padding: 30px 0 20px;
            @include responsive(tab) {
                padding: 10px 10px;
            }

        }

        &__text {
            font-size: 12px;
            @include responsive(tab) {
                font-size: 16px;
            }
        }
    }
}

.p-archive {
    .c-card {
        margin-bottom: 20px; 
        @include responsive(tab) {
            margin-bottom: 0;
        }
        li {

            @include responsive(tab) {
                max-height: 300px;
            }
                
        }
    }
}