// single.phpのsvg画像の調整
// ==========================================================================
.p-single {
    .wp-post-image[src*=".svg"] {
        max-width: 200px;
        text-align: center;
        display: block;
        margin: 0 auto 20px;
        @include responsive(tab){
            max-width: 300px;
            margin: 0 auto 40px;
        }
    }
}

// single.phpとpage.phpの目次調整
// ==========================================================================
.page_container {
    h2{
        text-indent: 35px;
        position: relative;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        margin: 40px 0 10px;
        @include responsive(tab) {
            font-size: 20px;

        }
    }
    h2:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 30px;
        height: 1px;
        background-color: black;
    }
    h2:after {
        position: absolute;
        content: "";
        top: 50%;
        width: 30px;
        height: 1px;
        background-color: black;
        margin: 0 5px;
    }
    ol {
        margin-bottom: 30px;
        li {
            text-indent: 1rem;
            list-style: inside;
            line-height: 1.5;
        }
    }
}

//コンタクトフォームのスタイリング
// ==========================================================================

.wpcf7-form{
    background-color: #F5F5F5;
    padding: 20px;
    p {
        padding-bottom: 30px;
        label {
            padding-bottom: 10px;
            border-bottom: 1px solid #707070;
        }

        span {
            display: block;
            margin-top: 20px;

            .wpcf7-text {
                width: 100%;
                padding: 10px;
                background: white;
                
            }
            .wpcf7-textarea {
                width: 100%;
                padding: 10px;
                background: white;
                
            }
        }
        .wpcf7-submit {
            display: block;
            margin: 0 auto;
            color: $color-white--text;
            background: $color-gray--border;
            font-weight: bold;
            padding: 10px 30px 10px 30px;
            border-radius: 5px;
            transition: .5s;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
            
        }
    }
}

//ギャラリーimgのボーダー色変更
// ==========================================================================
.gallery {
    .gallery-item {
        img {
            border: 3px solid white !important;
        }
    }
} 