.p-gnav {
    margin: 0 auto;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        @include responsive(pc) {
            display: block;
        }
        li {
            border: $color-white--text 1px solid;
            width: 33%;
            height: 100px;
            text-align: center;
            line-height: .9;
            @include responsive(pc) {
                width: 100%;
                text-align: left;
                border-bottom: $color-gray--text 1px solid;
                height: auto;
                &:first-child {
                    border-top: $color-gray--text 1px solid;
                }
            }

            a {
                display: block;
                // padding-top: 20px;
                @include responsive(pc) {
                    text-align: left !important;
                    padding: 10px;
                }
                br {
                    @include responsive(pc) {
                        display: none;

                    }
                }
                img {
                    width: 50px;
                    @include responsive(pc){
                        display: none !important;
                    }
                    
                }
                strong {
                    @include responsive(pc) {
                        display: none;
                    }
                }
                
                span {
                    display: none;
                    @include responsive(pc) {
                        font-size: 22px;
                        text-align: left !important;
                        display: inline;
                        line-height: 1.2;
                    }
                }
                .menu-item-description {
                    font-size: 16px;
                }
            }
        }
    }
}

.p-gnav__pc {
    display: none;
    @include responsive(pc) {
        display: block;
        // font-size: 32px;
        span {
            font-size: 16px;
        }
    }
}
.p-gnav__sp,
.c-icon {
    @include responsive(pc) {
        display: none;
    }
}