.p-page-description {
    &__title {
        margin-bottom: 20px;
        font-size: 20px;        
        @include responsive(tab) {
            margin-bottom: 40px;
            font-size: 30px;
        }
        &__text {
            @include responsive(tab) {
                font-size:16px;
            }
        }
    }
}