.p-search {
    line-height: 3;
    margin-bottom: 40px;
    width: 99%;
    border: $color-white--text 1px solid;
    display: flex;
    justify-content: space-around;
    @include responsive(pc) {
        display: flex;
        margin-bottom: 30px;
        line-height: 1;
        border: $color-black--border 1px solid;
        border-radius: 10px;
    }    
    &__box {
        width: 74%;
        padding-left: 20px;
        @include responsive(pc) {
            width: auto;
            font-size: 16px;
            padding: 10px;

        }

    }
    &__button {
        width: 15%;
        background-image: url(/img/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        box-sizing: inherit;
        @include responsive(pc) {
            background-image: url(/img/search2.svg);
        }
    }
}